.home-page {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 4rem;

  avatar {
    width: 200px;
    height: 200px;
    border-radius: 400px;
  }
  h1 {
    font-size: 50px;
    font-weight: 750;
    letter-spacing: 2px;
    margin: 0;
  }
}
.container {
  position: absolute;
  left: 20%;
  top: 0;
  animation: 1.5s user 500ms forwards;
  transform: translateY(110%);
}
@keyframes user {
  to {
    transform: translateX(0);
  }
}
.copyright {
  margin-left: 5rem;
  margin-bottom: 4rem;
}
.social-icon a {
  svg {
    color: black;
    
    font-size: 30px;
    margin: 15px;
    transition: all 500ms ease-in-out;

    &:hover {
      transform: scale(1.2);
      color: rgb(128, 123, 123);
    }
  }
}



#blob path {
  animation: blob 5s linear infinite;
}

@keyframes blob {
  0% {
    d: path(
      "M56.6,-20.2C65.2,7.9,58.2,39.2,36.5,56.4C14.8,73.7,-21.7,76.9,-45.1,60.3C-68.5,43.7,-78.8,7.4,-69.1,-22.3C-59.4,-52.1,-29.7,-75.1,-2.8,-74.2C24.1,-73.3,48.1,-48.4,56.6,-20.2Z"
    );
  }
  25% {
    d: path(
      "M65.9,-19.2C75.1,7.1,65.3,41.7,41.5,59.7C17.6,77.6,-20.2,78.8,-44.7,61.1C-69.2,43.4,-80.3,6.9,-70.6,-20C-60.9,-46.8,-30.5,-64,-1.1,-63.6C28.3,-63.3,56.6,-45.4,65.9,-19.2Z"
    );
  }
  50% {
    d: path(
      "M50.1,-15.8C57.5,6.6,51.1,34,32.6,48.2C14.2,62.4,-16.3,63.4,-38.6,48.3C-60.9,33.3,-75,2.2,-67.2,-20.8C-59.4,-43.7,-29.7,-58.4,-4.2,-57.1C21.3,-55.7,42.6,-38.2,50.1,-15.8Z"
    );
  }
  75% {
    d: path(
      "M49.7,-18.7C57.6,8.2,52.5,36.7,35.6,49C18.7,61.3,-10,57.3,-32.8,41.7C-55.5,26,-72.2,-1.5,-65.7,-26.4C-59.2,-51.3,-29.6,-73.7,-4.4,-72.2C20.9,-70.8,41.8,-45.6,49.7,-18.7Z"
    );
  }
  100% {
    d: path(
      "M56.6,-20.2C65.2,7.9,58.2,39.2,36.5,56.4C14.8,73.7,-21.7,76.9,-45.1,60.3C-68.5,43.7,-78.8,7.4,-69.1,-22.3C-59.4,-52.1,-29.7,-75.1,-2.8,-74.2C24.1,-73.3,48.1,-48.4,56.6,-20.2Z"
    );
  }
}
.inner-blob {
  position: absolute;
  left: 0;
}

image {
  z-index: 100;
}

.info {
  width: 100%;
  overflow: hidden;

  max-width: 500px;
}
.info .animate-text {
  animation: 1.5s info 500ms forwards;
  transform: translateX(-110%);
}
@keyframes info {
  to {
    transform: translateX(0);
  }
}
a {
  text-decoration: none;
  color: rgb(110, 109, 109);
  transition: all 500ms ease-in-out;
  font-weight: 500;

  &:hover {
    transform: scale(1.2);
    color: black;
  }
  &:active {
    transform: scale(1.2);
    color: black;
  }
}
.social-icon {
  svg {
    font-size: 25px;
    margin-right: 5px;
    color: black;
  }
}

@media screen and (max-width: 1130px) {
  .home-page {
    display: inline-block;
margin: 0;

    
  }
  .social-icon {
    svg {
      font-size: 35px;
    }
  }
  .svg-container {
   
    svg {
      width: 100%;
    }
  }

  .social-icon {
    svg {
      font-size: 25px;
    }
  }
  .container {
    
    padding: 0;
    margin: 0;
    width: 100vw;
  }
}
@media screen and (max-width: 700px) {
  .home-page {
    display: inline-block;

    position: absolute;
    left: 0;
    margin: 0;
  }
  .animate-text h1,p , .social-icon {
   display: flex;
   align-items: center;
   justify-content: center;
  }
  .container {
    display: flex;
   align-items: center;
   justify-content: center;
   position: absolute;
   left: 0;
    padding: 0;
  margin: 0;
    
    width: 100vw;
  }
  .social-icon {
    svg {
      font-size: 3px;
      margin: 12px;
    }
  }
}